<div class="app-powered-by-home text-right">
  <img height="48" src="./assets/img/pb.png">
</div>
<footer class="app-footer">
  <div class="container footer-bottom">
    <div class="row">
      <div class="col-sm-4">
        <div class="copyright">
          <a> 2017 - Aguas Estrada + Vida </a>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="info text-right">
          <ul>
            <li><a>Teléfonos: (0342) 155-37-1200</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
